{% import "_includes/forms" as forms %}

{% if allowAuthSettings %}

    {{ forms.checkboxField({
        label: "Use Global Settings"|t('aliyun'),
        instructions: 'Use global plugin settings. This requires you to set the plugin settings'|t('aliyun'),
        id: 'useGlobalSettings',
        name: 'useGlobalSettings',
        checked: volume.useGlobalSettings,
        errors: volume.getErrors('useGlobalSettings'),
        reverseToggle: 'custom-settings'
    }) }}

    <div id="custom-settings" class="nested-fields{% if volume.useGlobalSettings %} hidden{% endif %}">

        {{ forms.textField({
            label: "Access Key"|t('aliyun'),
            instructions: "Please enter a access key for your Aliyun account"|t('aliyun'),
            id: 'accessKey',
            class: 'ltr',
            name: 'accessKey',
            value: volume.accessKey,
            errors: volume.getErrors('accessKey'),
            required: true,
            placeholder: "Access Key"|t('aliyun')
        }) }}

        {{ forms.passwordField({
            label: "Secret Key"|t('aliyun'),
            instructions: "Please enter a secret key for your Aliyun account"|t('aliyun'),
            id: 'secretKey',
            class: 'ltr',
            name: 'secretKey',
            value: volume.secretKey,
            errors: volume.getErrors('secretKey'),
            required: true,
            placeholder: "Secret Key"|t('aliyun')
        }) }}

    </div>

{% endif %}

{% set endpointOptions = [] %}
{% for endpoint in volume.endpoints %}
    {% set endpointOptions = endpointOptions|merge([
        {
            label: endpoint.name ~  ' ' ~ endpoint.public,
            value: endpoint.public
        },
        {
            label: endpoint.name  ~ ' ' ~ endpoint.internal ~ ' [' ~'Internal'|t('aliyun') ~  ']',
            value: endpoint.internal
        }
    ]) %}
{% endfor %}

{{ forms.selectField({
    label: "Endpoint"|t('aliyun'),
    instructions: "The storage space endpoint"|t('aliyun'),
    required: true,
    id: 'endpoint',
    class: 'ltr endpoint',
    name: 'endpoint',
    options: endpointOptions,
    value: volume.endpoint,
    errors: volume.getErrors('endpoint'),
}) }}

{% if not allowAuthSettings or volume.useGlobalSettings %}

    {% set bucketOptions = [] %}
    {% for bucket in volume.allBuckets %}
        {% set bucketOptions = bucketOptions|merge([
            {
                label: bucket.name(),
                value: bucket.name(),
            }
        ]) %}
    {% endfor %}

    {{ forms.selectField({
        label: "Bucket"|t('aliyun'),
        instructions: "Storage space name"|t('aliyun'),
        id: 'bucket',
        class: 'ltr',
        name: 'bucket',
        options: bucketOptions,
        value: volume.bucket,
        errors: volume.getErrors('bucket'),
        required: true,
        placeholder: "Bucket ID"|t('aliyun')
    }) }}

{% else %}

    {{ forms.textField({
        label: "Bucket"|t('aliyun'),
        instructions: "Storage space name"|t('aliyun'),
        id: 'bucket',
        class: 'ltr',
        name: 'bucket',
        value: volume.bucket,
        errors: volume.getErrors('bucket'),
        required: true,
        placeholder: "Bucket ID"|t('aliyun')
    }) }}

{% endif %}

{{ forms.autosuggestField({
    label: "Root Path"|t('aliyun'),
    instructions: "The volume file will be saved to the subdirectory of this Bucket"|t('aliyun'),
    id: 'root',
    class: 'ltr',
    name: 'root',
    value: volume.root,
    errors: volume.getErrors('root'),
    placeholder: "path/to/folder"|t('aliyun'),
    suggestEnvVars: true
}) }}