{% extends "_layouts/cp" %}

{% set title = isNewCredential ? 'New a credential'|t('aliyun') : 'Edit: {name}'|t('aliyun', {name: credential.name}) %}
{% set selectedSubnavItem = "credentials" %}
{% set fullPageForm = true %}
{% set crumbs = [{
    label: 'Settings'|t('app'),
    url: url('aliyun/settings')
}, {
    label: 'Credential'|t('aliyun'),
    url: url('aliyun/settings/credentials')
}] %}

{% set tabs = [
    {label: "Settings"|t('app'), url: '#settings'},
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <div id="settings" class="schedule-settings">
        <input type="hidden" name="action" value="aliyun/credentials/save-credential">
        <input type="hidden" name="credentialId" value="{{ credential.id }}">

        {{ forms.textField({
            label: 'Name'|t('app'),
            required: true,
            id: 'name',
            name: 'name',
            value: credential.name,
            errors: credential.getErrors('name'),
        }) }}

        {{ forms.textField({
            label: 'Handle'|t('app'),
            required: true,
            id: 'handle',
            name: 'handle',
            value: credential.handle,
            errors: credential.getErrors('handle'),
        }) }}

        {{ forms.autosuggestField({
            label: "AccessKey ID"|t('aliyun'),
            instructions: "Please enter a access key for your Aliyun account"|t('aliyun'),
            id: 'accessKeyId',
            class: 'ltr',
            name: 'accessKeyId',
            value: credential.accessKeyId,
            errors: credential.getErrors('accessKeyId'),
            required: true,
            placeholder: "AccessKey ID"|t('aliyun'),
            suggestEnvVars: true,
        }) }}

        {{ forms.autosuggestField({
            label: "AccessKey Secret"|t('aliyun'),
            instructions: "Please enter a secret key for your Aliyun account"|t('aliyun'),
            id: 'accessKeySecret',
            class: 'ltr',
            name: 'accessKeySecret',
            value: credential.accessKeySecret,
            errors: credential.getErrors('accessKeySecret'),
            required: true,
            placeholder: "AccessKey Secret"|t('aliyun'),
            suggestEnvVars: true,
        }) }}

    </div>
{% endblock %}

{% block details %}
    {% if not isNewCredential %}
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Created at"|t('app') }}</h5>
            <div class="value">{{ credential.dateCreated|datetime('short') }}</div>
        </div>
        <div class="data">
            <h5 class="heading">{{ "Updated at"|t('app') }}</h5>
            <div class="value">{{ credential.dateUpdated|datetime('short') }}</div>
        </div>
    </div>
    {% endif %}
{% endblock %}



{% js %}
{% endjs %}

{% css %}
{% endcss %}