{% extends "aliyun/_layouts/settings" %}

{% set credentials = craft.aliyun.credentials.getAllCredentials() %}

{% import "_includes/forms" as forms %}

{% block actionButton %}
    <a href="{{  url('aliyun/settings/credentials/new') }}" class="submit btn add icon">{{ "New credential"|t('aliyun') }}</a>
{% endblock %}

{% block content %}
    <div id="nocredentials"{% if credentials %} class="hidden"{% endif %}>
        <p>{{ "No credentials exist yet."|t('aliyun') }}</p>
    </div>

    {% if credentials|length %}
        {% set sortable  = (credentials|length > 1) %}
        <table id="credentials" class="data fullwidth collapsible">
            <thead>
            <th scope="col">{{ "Name"|t('app') }}</th>
            <th scope="col">{{ "Handle"|t('app') }}</th>
            <th scope="col">{{ "AccessKey ID"|t('aliyun') }}</th>
            <th scope="col"></th>
            {% if sortable %}<td class="thin"></td>{% endif %}
            <td class="thin"></td>
            </thead>
            <tbody>
            {% for credential in credentials %}
                <tr data-id="{{ credential.id }}" data-name="{{ credential.name }}">
                    <th scope="row" data-title="{{ 'Name'|t('app') }}"><a href="{{ url('aliyun/settings/credentials/' ~ credential.id) }}">{{ credential.name }}</a></th>
                    <td data-title="{{ 'Handle'|t('app') }}">{{ credential.handle }}</td>
                    <td data-title="{{ 'AccessKey ID'|t('aliyun') }}">{{ credential.getAccessKeyId() }}</td>
                    {% if sortable %}<td class="thin"><a class="move icon" title="{{ 'Reorder'|t('app') }}" role="button"></a></td>{% endif %}
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% js %}
    var adminTable = new Craft.AdminTable({
        tableSelector: '#credentials',
        noItemsSelector: '#nocredentials',
        deleteAction: 'aliyun/credentials/delete-credential',
    });
{% endjs %}